/*
 * Fonts
 */
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('./fonts/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('./fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/*
 * Page Layout
 */
#wrapper {
	/* Fixed width aligned center */
	max-width: 900px;
	margin: 0 auto;
}

#about {
	/* Aligned center */
	display: table;
	margin: 0 auto;
}

/*
 * Fonts Families, Links, and Background.
 */
* {
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
}

a:link    { color: #3987D6; text-decoration: none; }
a:visited { color: #396ca0; text-decoration: none; }
a:hover   { color: #479bef; text-decoration: underline; }
a:active  { color: #479bef; text-decoration: none; }

body {
	background-color: #FCFCFC;
} 

#content {
	font-size: 11pt;
}

#header {
	margin-bottom: 40px;
}

h1 {
	font-size: 30pt;
	text-align: center;
	margin-bottom: 12px;
}

h2 {
	font-size: 20pt;
	text-align: center;
	border-bottom: #DDDDDD solid thin;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

h3 {
	font-size: 16pt;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

/*
 * Header
 */
a img
{
	border-style: none; /* Remove IE's blue border around image links. */
}

#links {
	border-top:    #DDDDDD solid thin;
	border-bottom: #DDDDDD solid thin;
	padding-top:    10px;
	padding-bottom: 12px;
	text-align: center;
	line-height: 2.5em;
}

#links > a {
	display: inline-block;
	text-decoration: none;
	font-size: 16pt;
	vertical-align: middle;
}

#links > a + a { /* Put space between each link but not before the first or after the last. */
	margin-left: 40px;
}

#links > a > img {
	vertical-align: text-top;
	margin-right: .5em;
}

/*
 * Experience
 */
.position {
	float: left;
	font-size: 16pt;
	font-weight: bold;
}
 
.timespan {
	float: right;
}
 
.location {
	clear: both;
}

#content > section {
	margin-bottom: 90px;
}

/*
 * About
 */
#skills td {
	padding: 5px 2px;
}

#about > div {
	padding: 5px;
}
 
.skill-title {
	text-align: right;
}

/*
 * Lists
 */ 
.skill-list {
	display: inline;
	list-style: none;
	padding: 0;
	padding-left: 3px;
}

.skill-list li {
	display: inline;
	font-weight: bold;
}

.skill-list li:after {
	content: ", ";
}

.skill-list li:last-child:after {
	content: "";
}

/*
 * "Progress" bars.
 */
.progressbar {
	background-color: #E8E8EA;
	border-radius: 5px;
	width: 265px;
	padding: 2px;
	position: relative;
}

.progress-animation > div {
	background-color: #3987D6;
	height: 20px;
	border-radius: 4px;
	/* width is set in the DOM to the progess percentage. */
}

/*
 * Animations
 */
#header > h1 {
	animation: slideinleft 400ms;
	-webkit-animation: slideinleft 400ms; /* Webkit */
}

#content, #links {
	animation-name: fadein, slideinup;
	animation-duration: 350ms;
	-webkit-animation-name: fadein, slideinup; /* Webkit */
	-webkit-animation-duration: 400ms; /* Webkit */
}

.progress-animation {
	animation: growwidth 1000ms;
	-webkit-animation: growwidth 1000ms; /* Webkit */
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein { /* Webkit */
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes growwidth {
    from { width: 0%;   }
    to   { width: 100%; }
}

@-webkit-keyframes growwidth { /* Webkit */
    from { width: 0%;   }
    to   { width: 100%; }
}

@keyframes slideinleft {
    from { transform: translate(100px, 0px); }
    to   { transform: translate(0px, 0px);  }
}

@-webkit-keyframes slideinleft { /* Webkit */
    from { -webkit-transform: translate(100px, 0px); }
    to   { -webkit-transform: translate(0px, 0px);  }
}

@keyframes slideinup {
    from { transform: translate(0px, 150px); }
    to   { transform: translate(0px, 0px);  }
}

@-webkit-keyframes slideinup { /* Webkit */
    from { -webkit-transform: translate(0px, 150px); }
    to   { -webkit-transform: translate(0px, 0px);  }
}

